* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #339AF0 !important;
}

.navbar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.navbar .active {
  background-color: #fff;
  color: #339AF0;
  border-radius: 5px;
  font-weight: bold;
}

.mantine-Table-thead {
  background-color: #339AF0;
  color: #fff;
}